.subDivTitle{
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.subDivTitleInsideForm{
    margin-top: 60px;
    font-size: 30px;
    font-weight: 500;
}