.rightSide{
    position: relative;
    left: 350px;
    width: 55%;
}

.pageTitle{
    font-size: 40px;
    font-weight: 900;   
    padding-left: 40px;
    padding-top: 40px;
}

.paymentDetails{
    position: relative;
    top: 50px;
    left: 100px;
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 30px;   
}

.paymentDetailsTitle{
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
    margin-left: 20px;
}

.detailsForm{
    padding: 30px;
    background-color: white;
}
