.rightSide{
    position: absolute;
    left: 380px;
    width: 75%;
}

.pageTitle{
    font-size: 40px;
    font-weight: 900;   
    padding-left: 40px;
    padding-top: 40px;
}

.transactionDetailsNew{
    position: relative;
    top: 50px;
    left: 20%;
    width: 50%;
    padding: 10px;
    background-color: white;
    border-radius: 30px;   
}

.transactionDetailsTitle{
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
    margin-left: 20px;
}

.detailsForm{
    padding: 30px;
    background-color: white;
}


.singleTransaction{
    margin-top: 50px;
    padding: 10px;
}